@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621280343931') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clients:before {
  content: "\e640";
}

.icon-virement:before {
  content: "\e654";
}

.icon-messagerie:before {
  content: "\e6af";
}

